* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h4 {
  font-size: 35px;
  font-weight: 500;
}

.sidenav {
  z-index: 999 !important;
}
.sidenav li {
  z-index: 999px !important;
}

h4 {
  font-size: 30px;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.lb_cardbtn_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

#mobile-links {
  z-index: 999px !important;
}
